
.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 2rem;    
}

.intro {
    display: flex;
    width: 70%;
    padding-left: 2rem;
}



* {
  box-sizing: border-box;
}

body {
  background-color: #FEFAE0;
}

p {
  margin: 0;
  line-height: 1.6;
  color:black;
}

ol {
  list-style: none;
  counter-reset: list;
  padding: 0 1rem;
}

ol > li {
  
  position: relative;
  counter-increment: list;
  max-width: 45rem;
  margin: 2rem ;
  padding: 2rem 1rem 1rem;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: #FAEDCD;
}

h3 {
  display: flex;
  align-items: baseline;
  margin: 0 0 1rem;
  color: rgb(70 70 70);
}

h3::before {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  content: counter(list);
  padding: 1rem;
  border-radius: 50%;
  background-color: #D4A373;
  color: white;
}

p > input {
    width: 3rem;
    border-radius: 5px;
    margin: 0 0.5rem 0 0.5rem;
    border: none;
}

button {
    width: 10%;
    margin-bottom: 1rem;
    font-size: 20px;
}

h1{
    color: #D4A373;

}
