body.dark-mode {
    background-color: #3e3636;
    color: #e0e0e0;
}

body.dark-mode header {
    background-color: #c90404;
}

body.dark-mode .dropdown-menu {
    background-color: #2e2b2b;
    color: #e0e0e0;
}

body.dark-mode .dropdown-menu a, 
body.dark-mode .dropdown-menu div {
    color: #e0e0e0;
}

body.dark-mode .dropdown-menu a:hover, 
body.dark-mode .dropdown-menu div:hover {
    background-color: rgba(248, 192, 88, 0.4);
}

body.dark-mode .dropdown-menu .profile-banner {
    background-color: rgba(248, 192, 88, 0.4);
}

/* Dark mode styles for HomeForum components */
body.dark-mode .sidebar {
    background-color: #2e2e2e;
    color: #e0e0e0;
}

body.dark-mode .right-sidebar {
    background-color: #2e2e2e;
    color: #e0e0e0;
}

body.dark-mode .post {
    background-color: #444;
    color: #e0e0e0;
}

body.dark-mode .post .post-content p {
    color: #ccc;
}

body.dark-mode .post .post-title {
    color: #f4f4f4;
}

body.dark-mode .containerr {
    background-color: #2b2b2b;
}

body.dark-mode .contentt {
    background-color: #333;
}
