/* src/css/izdelki.css */
.izdelki-container {
  display: flex;
  width: 100%;
}

.izdelek-content {
  width: 100%;
  padding: 20px;
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.izdelki {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.izdelek {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  width: 30%;
  margin: 1rem;
  background-color: #faedcd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.izdelek h2 {
  margin: 0 0 10px;
}

.izdelek p {
  margin: 5px 0;
}

a > img {
  width: 100%;
  border-radius: 5px;
}
